MIEConsole/Connected Services/FileService/FileTransfer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53897/FileTransfer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:import schemaLocation="http://localhost:53897/FileTransfer.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="BackupAndChangeFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackupAndChangeFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="BackupAndChangeFilesResult" type="q1:EStatusOfOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="stream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileName" nillable="true" type="xs:string" />
</xs:schema>